*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Playpen Sans', cursive;
    box-sizing: border-box;



}
/* styling redirector */
a{
    color: #33ffd8;
}

 .redirect{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: #affef2;
 }
 .btn{
    background-color: rgb(0, 0, 0);
   
    text-align: center;
    width: 130px;
    border: 2px solid rgb(255, 255, 255) ;
    border-radius: 10px;
    padding: 4px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.54) ;

 } 
 .btn{
    animation-name: border;
    animation-duration: 5s;
    animation-iteration-count: infinite;
 }
 /* border animation*/
 @keyframes border {
    from {
        border : 2px solid #242a33
    }
    to{
        border: 2px solid white;
    }
 }
 .btn :hover {
    color: #37ff94;
 }


/*styling header*/
/* styling logo*/
.logo {
    display: inline-block;
    font-family: 'Playpen Sans', cursive;
    background-color: #000000;
    color: #33ffd8;
    font-size: 30px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    font-weight: bolder;
    border: 2px solid antiquewhite;
    border-radius: 5px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 40px;
    height: fit-content;
}
.Header{
    background-color: #242a33;
    height:15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items : center;
}

div .heading{
    display: flex;
    margin: 2PX ;
    justify-content: center;
    font-size: 2rem;
    color: #ffcc00;
    font-weight: bolder;

}
/* footer styling */
.Copyright{text-align: center;
    color: white;
    padding: 10px;
    background-color: #242a33;
    height: 15vh;
}
